html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,*::before,*::after{
    box-sizing: inherit;
}
* img{
    width: 100%;
    height: 100%;
}
a{
    color: whitesmoke;
}
a:hover{
    color: #805d42;
    transition: all 0.300s;
}
body{
    background-color: #805d42;
    padding: 20px ;
    width: 100%;
    height: 100%;
}
body header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px ;
    margin-bottom: 1%;
    background-color: #737373;
    text-align: center;
    text-transform: capitalize;
    font-weight: bolder;
}
body header #logo{
    width: 65px;
    height: 95%;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 50%;
}

body #container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: solid rgba(135, 214, 16, 0.74); */
    /* border: solid red; */
}
body #container #map{
    width: 70%;
    height: 95%;
    padding: 0;
    margin: 0;
    border-radius: 20px;
    /* border: solid salmon; */
}
body #container #details * h2{
    text-align: left;
    text-transform: capitalize;
}
body #container #details{
    width: 25%;
    height: 95%;
    background-color: #737373;
    border-radius: 20px;
    overflow-y: scroll;
    padding: 10px;
}

body #container #details .input{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
body #container #details .input label,input{
    width: 100%;
    font-weight: bold;

}

body #container #details .input label{
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}
body #container #details .input input{
    height: 100px;
}
.pop{
    background-color: rgba(245, 245, 245, 0.733);
    border-radius: 20px;
    padding: 5px;
    
}
body #container #details #source_copy{
    width: 100%;
}
body #container #details #source_copy ul li{
    text-align: left;
    font-size: 1rem;
    margin-bottom: 3px;
}